body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  padding-bottom: 15px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#normalized-text,
#encoded-message,
#decoded-text {
  font-size: 16px;
  margin-bottom: 20px;
}
